<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [3]:
cntm = len(data[data['sex'] == 'Male'])
cntf = len(data[data['sex'] == 'Female'])
dff = data[data['sex'] == 'Female']
cnt = len(data)
len(dff)

10771

**2. Каков средний возраст (признак *age*) женщин?**

In [4]:
dff['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [5]:
len(data[data['native-country'] == 'Germany'])/len(data)*100

0.42074874850281013

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [6]:
data[data['salary'] == '>50K'].describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,7841.000000,7.841000e+03,7841.000000,7841.000000,7841.000000,7841.000000
mean,44.249841,1.880050e+05,11.611657,4006.142456,195.001530,45.473026
std,10.519028,1.025418e+05,2.385129,14570.378951,595.487574,11.012971
min,19.000000,1.487800e+04,2.000000,0.000000,0.000000,1.000000
25%,36.000000,1.191010e+05,10.000000,0.000000,0.000000,40.000000
50%,44.000000,1.761010e+05,12.000000,0.000000,0.000000,40.000000
75%,51.000000,2.309590e+05,13.000000,0.000000,0.000000,50.000000
max,90.000000,1.226583e+06,16.000000,99999.000000,3683.000000,99.000000

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [7]:
data[data['salary'] == '>50K'].groupby('education').count().index

Index(['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th',
       'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Doctorate', 'HS-grad',
       'Masters', 'Prof-school', 'Some-college'],
      dtype='object', name='education')

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [8]:
data.groupby(['race', 'sex']).max()

                           age    workclass   fnlwgt     education  \
race               sex
Amer-Indian-Eskimo Female   80    State-gov   445168  Some-college
                   Male     82    State-gov   356015  Some-college
Asian-Pac-Islander Female   75    State-gov   379046  Some-college
                   Male     90  Without-pay   506329  Some-college
Black              Female   90    State-gov   930948  Some-college
                   Male     90  Without-pay  1268339  Some-college
Other              Female   74    State-gov   388741  Some-college
                   Male     77    State-gov   481175  Some-college
White              Female   90  Without-pay  1484705  Some-college
                   Male     90  Without-pay  1455435  Some-college

                           education-num marital-status        occupation  \
race               sex
Amer-Indian-Eskimo Female             16        Widowed  Transport-moving
                   Male               16        Widowed  Transport-moving
Asian-Pac-Islander Female             15        Widowed  Transport-moving
                   Male               16        Widowed  Transport-moving
Black              Female             16        Widowed  Transport-moving
                   Male               16        Widowed  Transport-moving
Other              Female             14        Widowed      Tech-support
                   Male               16        Widowed  Transport-moving
White              Female             16        Widowed  Transport-moving
                   Male               16        Widowed  Transport-moving

                          relationship  capital-gain  capital-loss  \
race               sex
Amer-Indian-Eskimo Female         Wife         15024          1721
                   Male      Unmarried         27828          1980
Asian-Pac-Islander Female         Wife         99999          2258
                   Male      Unmarried         99999          2457
Black              Female         Wife         99999          4356
                   Male      Unmarried         99999          2824
Other              Female         Wife          7688          1740
                   Male      Unmarried         99999          2179
White              Female         Wife         99999          4356
                   Male           Wife         99999          3770

                           hours-per-week native-country salary
race               sex
Amer-Indian-Eskimo Female              84  United-States   >50K
                   Male                84  United-States   >50K
Asian-Pac-Islander Female              99        Vietnam   >50K
                   Male                99        Vietnam   >50K
Black              Female              99  United-States   >50K
                   Male                99  United-States   >50K
Other              Female              65  United-States   >50K
                   Male                98  United-States   >50K
White              Female              99     Yugoslavia   >50K
                   Male                99     Yugoslavia   >50K

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [9]:
data[(data['salary'] == '>50K') & (data['sex'] == 'Male')].groupby('marital-status').count()['sex']

marital-status
Divorced                  284
Married-AF-spouse           4
Married-civ-spouse       5938
Married-spouse-absent      23
Never-married             325
Separated                  49
Widowed                    39
Name: sex, dtype: int64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [10]:
cnt_h = data['hours-per-week'].max()
cnt_p = data[data['hours-per-week'] == cnt_h].count()['sex']
pers = data[(data['hours-per-week'] == cnt_h) & (data['salary'] == '>50K')].count()['sex']/cnt_p*100
cnt_h, cnt_p, pers

(99, 85, 29.411764705882355)

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [11]:
data[(data['salary'] == '<=50K') & (data['native-country'] == 'Japan')].groupby('native-country').mean()['hours-per-week'], data[(data['salary'] == '>50K') & (data['native-country'] == 'Japan')].groupby('native-country').mean()['hours-per-week']

(native-country
 Japan    41.0
 Name: hours-per-week, dtype: float64, native-country
 Japan    47.958333
 Name: hours-per-week, dtype: float64)